<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Device list</h1>

    <table>
        <tr th:each="device : ${devices}">
            <td th:text="${device.id}">Device Id</td>
            <td th:text="${device.name}">Device name</td>
            <td th:text="${device.deviceStatus}">Device status</td>
            <td th:text="${device.switchState}">Test</td>
            <td><a th:href="@{/device/switchon/{switchId}(switchId=${device.id})}">On</a></td>
            <td><a th:href="@{/device/switchoff/{switchId}(switchId=${device.id})}">Off</a></td>
        </tr>
    </table>
</body>
</html>