<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Module list</h1>

    <table>
        <tr th:each="module : ${modules}">
            <td th:text="${module.moduleId}">Module Id</td>
            <td th:text="${module.moduleState}">Module State</td>
        </tr>
    </table>
</body>
</html>