<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    dfrghjk,l <br>

    <span th:text="${switch}" />

    <table>
    <tr th:each="device : ${devices}">
        <td th:text="${device.deviceId}">Name</td>
    </tr>
    </table>
</body>
</html>